button {
  /* Button Container */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  width: 150px;
  height: 56px;

  /* Brand/Default */

  background: #1160e9;
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

button:hover {
  /* Button Container */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  width: 150px;
  height: 56px;

  /* Brand/Default */

  background: #1160e9;
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

button:focus,
button:active {
  /* Button Container */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  width: 150px;
  height: 56px;

  /* Brand/Hover */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #115be9;
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

button.email {
  /* Button Container */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  width: 173px;
  height: 48px;

  /* Brand/Default */

  background: #1160e9;
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

button.email:hover {
  /* Button Container */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  width: 173px;
  height: 48px;

  /* Brand/Hover */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #115be9;
  /* Shadow/Medium/Brand */

  box-shadow: 0px 10px 15px -3px rgba(24, 104, 242, 0.1),
    0px 4px 6px -2px rgba(24, 104, 242, 0.05);
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

button.email:focus,
button.email:active {
  /* Button Container */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  width: 173px;
  height: 48px;

  /* Brand/Hover */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #115be9;
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
