@import "./reset.css";
@import "./scrollbar.css";
@import "./buttons.css";
@import "./radios.css";
@import "./links.css";
@import "./inputs.css";
@import "./headings.css";
@import "./helper.css";

/* Pages */
@import "./home.css";

nav {
  height: 101px;
  background: #fff;
  border-bottom: 2px solid #edeff2;
  padding: 20px 40px;
  max-width: 1920px;
}

.page-padding {
  padding: 0 80px;
}

/* Body/P/Desktop */
body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  /* Content/2 */
  background-color: #e5e5e5;
  color: #616366;
}

p {
  margin-bottom: 32px;
}

/* footer */
footer {
  background-color: #2b2e33;
}

/* Images */
img {
  object-fit: cover;
  max-width: 100%;
}

/* Laptop Media Query */
@media screen and (max-width: 1024px) {
  .page-padding {
    padding: 0 40px;
  }

  .container-lg {
    margin: 2rem 0;
  }

  .grid-third {
    grid-template-columns: 1fr 1fr;
  }

  .grid-four {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet Media Query */
@media screen and (max-width: 768px) {
  .page-padding {
    padding: 0 20px;
  }

  .p-6 {
    padding: 2rem;
  }

  .hide-tablet {
    display: none;
  }

  .flex-tablet {
    flex-direction: column;
  }

  .grid-half {
    grid-template-columns: 1fr;
  }

  .grid-third {
    grid-template-columns: 1fr;
  }

  .grid-four {
    grid-template-columns: 1fr;
  }

  .hero-float-container {
    position: relative;
    padding: 32px;
    margin: -64px auto 0 auto;
    max-width: 90%;
  }

  .floor-plan-numbers {
    grid-template-columns: 112px 112px;
  }
  .container-footer-shadow {
    margin: -7rem 0;
  }
}

/* Mobile Media Query */
@media screen and (max-width: 425px) {
  .page-padding {
    padding: 0 10px;
  }

  .hide-mobile {
    display: none;
  }

  .flex-mobile {
    flex-direction: column;
  }

  footer a {
    border: none;
  }

  .heading-1 {
    font-size: 24px;
  }

  .heading-2 {
    font-size: 14px;
  }

  .heading-3 {
    font-size: 24px;
  }

  .heading-4 {
    font-size: 14px;
  }

  .heading-5 {
    font-size: 24px;
  }
}
