@import "./reset.css";
@import "./scrollbar.css";
@import "./buttons.css";
@import "./radios.css";
@import "./links.css";
@import "./inputs.css";
@import "./headings.css";

nav {
  padding: 0 40px;
}

.page-padding {
  padding: 0 80px;
}

.relative {
  position: relative;
}

.container {
  margin: 4rem auto;
}

.container-xl {
  max-width: 1920px;
}

.container-lg {
  padding: 4rem;
  max-width: 1800px;
}

.hero-float-container {
  background-color: white;
  border-radius: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;

  padding: 64px;
  max-width: 496px;
}

/* Body/P/Desktop */
body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  /* Content/2 */
  background-color: #e5e5e5;
  color: #616366;
}

footer {
  background-color: #2b2e33;
}

p {
  margin-bottom: 32px;
}

img {
  object-fit: cover;
  max-width: 100%;
}

/* Helper Classes */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 1rem;
}

.p-0 {
  padding: 0;
}

.p-6 {
  padding: 4rem;
}

.m-0 {
  margin: 0;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.grid-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-third {
  display: grid;
  grid-template-columns: 1fr 1fr 218px;
  gap: 2rem;
}

.grid-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.bg-white {
  background-color: #fff;
}

.rounded {
  border-radius: 3px;
}

/* Laptop Media Query */
@media screen and (max-width: 1024px) {
  .page-padding {
    padding: 0 40px;
  }

  .container-lg {
    margin: 2rem 0;
  }

  .grid-third {
    grid-template-columns: 1fr 1fr;
  }

  .grid-four {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet Media Query */
@media screen and (max-width: 768px) {
  .hide-tablet {
    display: none;
  }

  .flex-tablet {
    flex-direction: column;
  }

  .grid-half {
    grid-template-columns: 1fr;
  }

  .grid-third {
    grid-template-columns: 1fr;
  }

  .grid-four {
    grid-template-columns: 1fr;
  }
}

/* Mobile Media Query */
@media screen and (max-width: 425px) {
  .hide-mobile {
    display: none;
  }

  .flex-mobile {
    flex-direction: column;
  }
}
