@charset "utf-8";

@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.woff') format('woff'),
		 url('Quicksand-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

/* HTML and Body Styles */

html {
	background-color: #656565;
}

body {
	color: #46BCDE;
}

#container {
	background-color: #333333;
	border: 2px solid #333333;
	padding: 10px;
	border-radius: 7px;
	
	margin: 10px auto;
	
	min-width: 300px;
	width: 70%;
	
	font-family: Quicksand, Verdana, Geneva, sans-serif;
}