.button {
    display: inline;
    background: #438caf url(/images/button_bg.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
	
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
    font-size: 115%;
    padding: 5px 10px;
    text-decoration: none;
}